<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/style.css"> 

    <title>Projeto Pokédex</title>
</head>
<body>
    <h1><%= titulo%></h1>

    <!-- Aqui vou incluir os pokemons -->
    <ul>
        <% lista.forEach(item => { %>
            <!-- <li><%= item.nome %></li>
            <li><img src ="<%= item.imagem %>" /></li>
            <li><%= item.tipo %></li> -->

            <p><%= item.nome %></p>
            <p><img src ="<%= item.imagem %>" /></p>
            <p><%= item.tipo %></p>

        <% }) %> 
    </ul>

    <a href="cadastro">Clique aqui para cadastrar !</a>
    
</body>
</html>